.main-content
    display: flex
    justify-content: center
    flex-direction: column

.title
    text-align: center

.actions
    display: flex
    justify-content: space-around
    padding: 8px 0
    button
        width: 100px

.mat-dialog-content
    padding: 10px 24px

mat-icon
    cursor: default

.alert 
    font-size: 10px

.alert-danger
    color: red

a 
    cursor: pointer