<h2 mat-dialog-title class="title">Tell me who you are and {{title.toLowerCase()}}</h2>
<div mat-dialog-content>
  <form name="authForm" #authForm="ngForm" class="main-content">
    <mat-form-field>
      <input 
        name="authEmail" 
        [(ngModel)]="email" 
        #inEmail="ngModel" 
        matInput 
        placeholder="Email"
        required
        email
      >
    </mat-form-field>
    <div 
      *ngIf="inEmail.invalid && (inEmail.dirty || inEmail.touched)"
      class="alert alert-danger"
    >
      Looks like it is not an email
    </div>
    <mat-form-field *ngIf="data.dialogType === dialogType.SignUp">
      <input 
        name="authUserName" 
        [(ngModel)]="userName" 
        #username ="ngModel" 
        matInput 
        placeholder="Username"
        required
        pattern="[a-zA-Z_$^.]*"
      >
      <div 
      *ngIf="username.invalid && (username.dirty || username.touched)"
      class="alert alert-danger"
      >
        Username is incorect
      </div>
    </mat-form-field>
    <mat-form-field>
      <input 
        name="authPassword" 
        [(ngModel)]="password" 
        #upPassword="ngModel" 
        matInput
        [type]="hidePass ? 'password' : 'text'" 
        placeholder="Password">
      <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
  </form>
</div>
<div class="actions">
  <button mat-raised-button (click)="close()">Back</button>
  <button 
    mat-raised-button 
    color="primary"
    [disabled]="authForm.invalid"
    (click)="data.dialogType === dialogType.SignUp ? signUp() : signIn()"
    >
      {{title}}
    </button>
</div>
<div class="actions" *ngIf="data.dialogType === dialogType.SignIn">
  <a  (click)="forgotPassword(inEmail)">
    Forgot password ?
  </a>
</div>
