<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <mat-card-content>
    <p>{{comment.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <div>
      <button mat-icon-button color="primary" (click)="likeComment()">
        <mat-icon matBadge="{{likeCount}}" matBadgeColor="accent" matBadgeSize="medium"
          [matBadgeHidden]="likeCount === 0" aria-label="Like">thumb_up</mat-icon>
      </button>
      <button *ngIf="likeCount !== 0" class="small-icon" mat-icon-button color="accent" (click)="displayWhoLiked()">
        <mat-icon aria-label="User">face</mat-icon>
      </button>
    </div>
    <div>
      <button mat-icon-button color="primary" (click)="dislikeComment()">
        <mat-icon matBadge="{{dislikeCount}}" matBadgeColor="accent" matBadgeSize="medium"
          [matBadgeHidden]="dislikeCount === 0" aria-label="Dislike">thumb_down</mat-icon>
      </button>
      <button *ngIf="dislikeCount !== 0" class="small-icon" mat-icon-button color="accent" (click)="displayWhoDisliked()">
        <mat-icon aria-label="User">face</mat-icon>
      </button>
    </div>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <div *ngIf="currentUser && currentUser.id === comment.author.id">
      <mat-menu class="myMenu" #menu="matMenu">
        <button class="btn-mat-menu" (click)="editComment()">
          <mat-icon>create</mat-icon>
          <span>Edit</span>
        </button>
        <button class="btn-mat-menu" (click)="deleteComment()">
          <mat-icon>delete_sweep</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu> 
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
