<div class="container">
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="container-field">
      <label for="old_password">Enter old password</label>
      <input class="control" name="old_password" formControlName="oldPassword" type="text">
    </div>
    <div class="container-field">
      <label for="new_password">Enter new password</label>
      <input class="control" name="new_password" type="password" formControlName="newPassword">
    </div>
    <div class="container-field">
      <label for="confirm_password">Confirm new password</label>
      <input class="control" name="confirm_password" type="password" formControlName="confirmPassword">
    </div>
    <div class="container-field">
      <input type="submit" placeholder="Change password">
    </div>
  </form>
</div>
