.container {
    margin: auto;
    display: flex;
    flex-direction: column;
} 

.container-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
}

.control {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 30px solid black;
}