<div class="main_wrapper">
  <div class="container">
    <div class="form-control">
      <input type="text" [(ngModel)]="updateComment.Body">
    </div>
    <div class="btn-group">
      <button class="danger-btn" (click)="close()">Cancel</button>
      <button class="success-btn" (click)="closeAndUpdate()">Update</button>
    </div>
  </div>
</div>

