.main_wrapper {
    height: 100%;
    width: 100%;
}

.container {
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
}


.form-control {
    width: 100%;
}

.form-control > input {
    font-size: medium;
    border-radius: 5px;
    border: 2px solid black;
    width: 100%;
}

.btn-group {
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-group > button {
    border-radius: 10%;
    color: black
}

.danger-btn {
    background-color: burlywood;
}

.success-btn {
     background-color: #00ff40;
}