
<div class="main-container">
  <h2 mat-dialog-title class="title">{{actionName}}</h2>
  <div mat-dialog-content *ngFor="let user of users">
    <div class="container-row">
      <div class="user-img">
        <img class="avatar" alt="user avatar" [src]="user.imgURL">
      </div>
      <div class="username">
        <p>{{ user.username}}</p>
      </div>
    </div>
  </div>  
</div>
