.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-img {
    height: 40px;
    width: 40px;
}

.avatar {
    height: 100%;
    width: 100%;
    border-radius: 50% solid black 2px;
}