mat-card-actions button
    margin-right: 8px

mat-card-header
    margin-bottom: 5px
    display: flex
    align-items: center
    mat-card-title
        margin: 0
    .date
        color: rgba(0, 0, 0, 0.5)

mat-card-content
    font-size: 15px
    margin: 0

mat-icon
    font-size: 22px

.post-with-comments
    padding-bottom: 0

.mat-badge-content
    font-size: 10px

.new-comment
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
    padding: 20px 0
    .mat-form-field
        width: 100%

.comments-count
    width: 100%
    text-align: center
    color: rgba(0, 0, 0, 0.5)
    margin-bottom: 5px

textarea
    min-height: 60px

mat-card-header
    padding-bottom: 5px

mat-card-content
    font-size: 15px
    margin: 0

mat-form-field
    width: 100%


.link
    margin: auto    
    color: #607d8b
    &:hover
        color: #00bcd4
        text-decoration: underline
        cursor: pointer

.post-image
    width: auto
    height: 100px
    max-width: 100%
    margin: 10px auto  

.image-container
    position: relative
    width: fit-content
    .mat-icon
        display: none
    &:hover
        .mat-icon
            display: inline-block
            position: absolute
            right: -20px
            top: -7px
            cursor: pointer

.posts-container
    margin: 30px -40px
    padding: 16px 24px    
    position: relative
    min-height: 100px

.post-create-container
    position: relative
    margin: auto -40px
    .mat-icon
        font-size: 30px

.main-actions
    width: 100%
    margin-bottom: 20px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    .mat-icon
        font-size: 24px

.mat-spinner-wrapper 
    margin: -16px

.posts-spinner
    top: 0
    left: 15px

.no-content
    margin: auto    
    color: #607d8b

.small-icon
    height:24px !important
    width:24px !important
    font-size:24px !important

.alert 
    font-size: 10px

.alert-danger
    color: red