<mat-card [ngClass]="{'post-with-comments': showComments}">
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
  <mat-card-content>
    <p>{{post.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <div>
      <button mat-icon-button color="primary" (click)="likePost()">
        <mat-icon matBadge="{{likeCount}}" matBadgeColor="accent" matBadgeSize="medium"
          [matBadgeHidden]="likeCount === 0" aria-label="Like">thumb_up</mat-icon>
      </button>
      <button *ngIf="likeCount !== 0" class="small-icon" mat-icon-button color="accent" (click)="displayWhoLiked()">
        <mat-icon aria-label="User">face</mat-icon>
      </button>
    </div>
    <div>
      <button mat-icon-button color="primary" (click)="dislikePost()">
        <mat-icon matBadge="{{dislikeCount}}" matBadgeColor="accent" matBadgeSize="medium"
          [matBadgeHidden]="dislikeCount === 0" aria-label="Dislike">thumb_down</mat-icon>
      </button>
      <button *ngIf="dislikeCount !== 0" class="small-icon" mat-icon-button color="accent" (click)="displayWhoDisliked()">
        <mat-icon aria-label="User">face</mat-icon>
      </button>
    </div>
    <button mat-icon-button color="accent" (click)="sharePost()">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" toggleComments()">
      <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>

    <div *ngIf="currentUser && currentUser.id === post.author.id">
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onEditPostClicked()">
          <mat-icon>create</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="deletePost()">
          <mat-icon>delete_sweep</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu> 
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-card-actions>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea 
          [(ngModel)]="newComment.body" 
          matInput placeholder="Comment it..."
          required 
          maxlength="40"
          #commentBody="ngModel"
        ></textarea>
      </mat-form-field>

      <div 
        *ngIf="commentBody.invalid && (commentBody.dirty || commentBody.touched)"
        class="alert alert-danger"
      >
        Field must be filled
      </div>

      <button 
        mat-icon-button 
        color="primary" 
        matTooltip="Send" 
        (click)="sendComment()"
        [disabled]="commentBody.invalid"
      >
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" 
      [comment]="_comment" 
      [currentUser]="currentUser"
      [postId]="post.id"
      >
    </app-comment>
  </div>
</mat-card>
<!--For edit component-->
<mat-card class="post-create-container" *ngIf="editPostClicked">
  <mat-card-content>
    <mat-form-field>
      <textarea [(ngModel)]="EditPost.Body" matInput placeholder="Write something..."></textarea>
    </mat-form-field>
    <div class="image-container">
      <mat-icon aria-label="Send" (click)="removeImage()">close</mat-icon>
      <img mat-card-image class="post-image" *ngIf="EditPost.PreviewImage" mat-card-image src="{{EditPost.PreviewImage}}" alt="Photo">
    </div>
  </mat-card-content>

  <mat-card-actions align="end">
    <input hidden #file accept="image/*" type="file" (change)="loadImage($event.target)">
    <button mat-icon-button color="accent" (click)="file.click()">
      <mat-icon aria-label="Choose an image">image</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Post it" (click)="editPost()">
      <mat-icon aria-label="Send">send</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>